<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" packages="org.apache.logging.log4j.core,io.sentry.log4j2">
    <Properties>
        <Property name="LOG_PATTERN">%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS zzz} [%t] %c{1.} %-5level: %msg%n%throwable}{FATAL=white, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=green}</Property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingRandomAccessFile name="appFile" fileName="${sys:log.path:-logs}/rest-service-std.log" filePattern="${sys:log.path:-logs}/rest-service-std-%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="25 MB" />
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${sys:log.path:-logs}" maxDepth="2">
                    <IfFileName glob="*rest-service-*.gz" />
                    <IfLastModified age="14d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="appErrorFile" fileName="${sys:log.path:-logs}/rest-service-error.log" filePattern="${sys:log.path:-logs}/rest-service-error-%d{yyyy-MM-dd}-%i.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="25 MB" />
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${sys:log.path:-logs}" maxDepth="2">
                    <IfFileName glob="*rest-service-*.gz" />
                    <IfLastModified age="14d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>
        <root level="INFO" includeLocation="false"> <!--https://logging.apache.org/log4j/2.x/manual/async.html#Location -->
            <appender-ref ref="appErrorFile" level="ERROR"/>
            <appender-ref ref="Console" level="INFO"/>
        </root>

        <logger name="com.bootcamp" level="DEBUG" additivity="false" includeLocation="false">
            <appender-ref ref="appFile" level="DEBUG"/>
            <appender-ref ref="appErrorFile" level="ERROR"/>
        </logger>

        <logger name="org.springframework" level="INFO" additivity="false" includeLocation="false">
            <appender-ref ref="appFile"/>
            <appender-ref ref="appErrorFile" level="ERROR"/>
        </logger>
    </loggers>
</configuration>